@import url('https://fonts.googleapis.com/css?family=Outfit:400,700&amp');

html, body {
  margin: 0;
  height: 100%;
  background-color: hsl(212, 45%, 89%);
}

p {
  font-family: 'Outfit', serif;
  font-size: 15px;
  text-align: center;
}

h3 {
  font-family: 'Outfit', serif;
  font-size: 15px;
  text-align: center;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  color: #444;
  height: 100%;
}

.container-div {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  font-size: 150%;
  height: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 325px; !important;
}

.container-div img {
  margin-top: 10px;
  align-self: center;    /* vertical centering */
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  width: 300px; !important;
}